//underscore
script(type='text/javascript', src='/lib/underscore/underscore.js')

//jQuery
script(type='text/javascript', src="/lib/jquery/jquery.min.js")

//Bootstrap
script(type='text/javascript', src="/lib/bootstrap/dist/js/bootstrap.min.js")