<section data-ng-controller="SpeakersController" ng-init="findAll()">
	<table class="table table-bordered table-responsive">
        <thead>
		<tr>
			<th>Name</th>
            <th>Description</th>
			<th>Profile</th>
		</tr>
    </thead>
        <tbody>
		<tr ng-repeat="speaker in speakers | orderBy:'fullName'">
            <td>{{speaker.fullName}}</td>
            <td>{{speaker.description}}</td>
            <td><a href="#!/speakers/{{speaker.slug}}"><img src="/img/icons/default.png" width=96 height=96 /></a></td>
		</tr>
        </tbody>
	</table>
</section>
