<section data-ng-controller="TalksController" >
	<ul class="nav nav-pills">
	  <li class="active"><a href="" class="btn" ng-click="order = 'Technology'">Technology</a></li>
	  <li><a href="" ng-click="order = 'Title'">Title</a></li>
	  <li><a href="" ng-click="order = 'Speaker'">Speaker</a></li>
	</ul>

	<ul class="grid" masonry="true">
        <li ng-repeat="talk in talks | orderBy:order" class="talk-brick" data-ng-class="style(talk)">
            <h4>{{talk.Title}}</h5>
            <span class="label label-default">{{talk.Technology}}</span><br />
            <span ng-if="Start">
            	<span class="label label-default">{{Start | date:['EEEE ha']}}</span>
            	<br />
            </span>
            <button data-ng-click="update(talk)" class="btn btn-default btn-sm" data-ng-class="{ 'btn-success' : setStyle(talk) }">Attending</button>
        </li>
    </ul>
</section>