<section data-ng-controller="TalksController" >
	<h1 class="oleo text-left">Talks</h1>

	<div class="row bottom-margin left-margin">
		<div class="col-md-9">
			<div class="btn-group">
		        <button class="btn btn-default active view-control" rel="tooltip" data-original-title="Grid view" ng-model="displayFormat" ng-class="displayFormatStyle('grid')" ng-click="displayFormat = 'grid'">
		            <i class="glyphicon glyphicon-th"></i>
		        </button>
		        <button class="btn btn-default view-control" rel="tooltip" data-original-title="List view" ng-model="displayFormat" ng-class="displayFormatStyle('list')" ng-click="displayFormat = 'list'">
                	<i class="glyphicon glyphicon-th-list"></i>
				</button>
	        </div>
			<div class="btn-group">
				<button class="btn btn-default btn-sm" ng-click="order = 'Start'" ng-model="radioModel" btn-radio="'Left'">Time</button>
				<button class="btn btn-default btn-sm" ng-click="order = 'title'" ng-model="radioModel" btn-radio="'MiddleLeft'">Title</button>
				<button class="btn btn-default btn-sm" ng-click="order = 'difficulty'" ng-model="radioModel" btn-radio="'Middle'">Difficulty</button>
				<button class="btn btn-default btn-sm" ng-click="order = 'speakers[0].fullName'" ng-model="radioModel" btn-radio="'Right'">Speaker</button>
				<button class="btn btn-default btn-sm" ng-click="order = sortByAttending" ng-model="radioModel" btn-radio="'FarRight'">Attending</button>
			</div>
		</div>
		<div class="col-md-3">
           <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="search-query form-control" placeholder="Search" ng-model="searchTerm"/>
                    <span class="input-group-btn">
                        <button class="btn btn-danger" type="button">
                            <span class=" glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<ul class="grid" masonry="true" ng-show="displayFormat == 'grid'">
		        <li ng-repeat="talk in talks | filter:searchTermWithDelay | orderBy:order" class="talk-brick">
		        	
	        		<div class="row">
	        			<div class="col-md-12 clickable" data-ng-click="openDescription(talk)">
			            	<div class='technology mobile'>{{talk.title}}</div>
			            </div>
		            </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p data-ng-class="getDifficultyClasses(talk.difficulty)">{{talk.difficulty}}</p>
                        </div>
                    </div>
		            <div class="row">
		        		<div class="col-md-12" data-ng-class="style(talk)" data-ng-repeat="speaker in talk.speakers">
							<p class="label label-success">{{speaker.fullName}}<p/>
	        		   	</div>
	        		</div>
	        		<div class="row">
	        			<div class="col-md-6">
				            <span ng-if="talk.start">
				            	<span class="label label-default date-label">{{talk.start | date:['EEEE h:mm a']}}</span>
				            	<br />
				            </span>
				              <span ng-if="talk.room">
				            	<span class="label label-default date-label">{{talk.room}}</span>
				            	<br />
				            </span>
				        </div>
				        <div class="col-md-6">
				            <button data-ng-click="update(talk)" class="btn btn-default btn-labeled btn-xs" data-ng-class="{ 'btn-success' : isAttending(talk) }">
				            	<span class="btn-label">
				            		<i class="glyphicon glyphicon-ok" data-ng-class="{ 'glyphicon-ok' : isAttending(talk), 'glyphicon-remove' : !isAttending(talk) }"></i>
			            		</span>
			            		<span ng-switch on="isAttending(talk)">
			            			<span ng-switch-when="true">
			            				Attending
			            			</span>
			            			<span ng-switch-when="false">
			            				Not Attending
			            			</span>
			            		</span>
				            </button>
                            <button class="btn-label" ng-click="viewTalkDetails(talk)">talk page</button>
			            </div>
		            </div>
		        </li>
		    </ul>
            <div ng-show="displayFormat == 'list'">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th class="hidden-sm hidden-xs">Title</th>
                            <th class="hidden-sm hidden-xs">Room</th>
                            <th class="hidden-sm hidden-xs">Speakers</th>
                            <td>Attending</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat-start="talk in talks | filter:searchTermWithDelay | orderBy:order">
                            <td class="talk-time">
                                <span ng-if="talk.start">
                                    <span class="label label-default date-label">{{talk.start | date:['EEEE h:mm a']}}</span>
                                </span>
                            </td>


                            <td class="talk-title clickable hidden-sm hidden-xs" data-ng-click="openDescription(talk)">
                                <h4>{{talk.title}}</h4>
                            </td>

                            

                            <td class="talk-room hidden-sm hidden-xs">
                            	<span ng-if="talk.room">
                                	<span class="label label-default date-label">{{talk.room}}</span>
                            	</span>
                            </td>

                            <td class="talk-spearkers hidden-sm hidden-xs">
                            	<span ng-if="talk.speakers" data-ng-repeat="speaker in talk.speakers">
                                	<span class="label label-default date-label">{{speaker.fullName}}</span>
                                </span>
                            </td>



                            <td class="talk-attending">
                                <button data-ng-click="update(talk)" class="btn btn-default btn-labeled btn-xs" data-ng-class="{ 'btn-success' : isAttending(talk) }">
                                    <span class="btn-label">
                                        <i class="glyphicon glyphicon-ok" data-ng-class="{ 'glyphicon-ok' : isAttending(talk), 'glyphicon-remove' : !isAttending(talk) }"></i>
                                    </span>
                                    <span ng-switch on="isAttending(talk)">
                                        <span ng-switch-when="true">
                                            Attending
                                        </span>
                                        <span ng-switch-when="false">
                                            Not Attending
                                        </span>
                                    </span>
                                </button>
                            </td>
                        </tr>
                        <tr ng-repeat-end>
                        	<td colspan="5" class="hidden-md hidden-lg">
                        		<dl>
								  <dt>Title</dt>
								  <dd>{{talk.title}}</dd>
								  <dt>Room</dt>
                                    <dd><h4>{{talk.room}}</h4></dd>
                                    <dt>Spearkers</dt>
                                    <dd>
                                        <div ng-if="talk.speakers" data-ng-repeat="speaker in talk.speakers">
                                            <div class="label label-default date-label">{{speaker.fullName}}</div>
                                        </div>
                                    </dd>
								</dl>

                        	</td>
                        </tr>
                    </tbody>
                </table>
		</div>
	</div>
</section>
