<section data-ng-controller="TalksController" >
	<h1 class="oleo text-left">Talks</h1>

	<div class="row bottom-margin left-margin">
		<div class="col-md-12">
			<div class="btn-group">
		        <button class="btn btn-default active view-control" rel="tooltip" data-original-title="Grid view">
		            <i class="glyphicon glyphicon-th"></i>
		        </button>
		        <button class="btn btn-default view-control" rel="tooltip" data-original-title="List view">
                	<i class="glyphicon glyphicon-th-list"></i>
				</button>
	        </div>
			<div class="btn-group">
				<button class="btn btn-default btn-sm" ng-click="order = 'Title'" ng-model="radioModel" btn-radio="'FarLeft'">Title</button>
				<button class="btn btn-default btn-sm" ng-click="order = 'Start'" ng-model="radioModel" btn-radio="'Left'">Time</button>
				<button class="btn btn-default btn-sm" ng-click="order = 'Technology'" ng-model="radioModel" btn-radio="'Middle'">Technology</button>
				<button class="btn btn-default btn-sm" ng-click="order = 'Speaker'" ng-model="radioModel" btn-radio="'Right'">Speaker</button>
				<button class="btn btn-default btn-sm" ng-click="order = sortByAttending" ng-model="radioModel" btn-radio="'FarRight'">Attending</button>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<ul class="grid" masonry="true">
		        <li ng-repeat="talk in talks | orderBy:order" class="talk-brick">
		        	<div class="row">
		        		<div class="col-md-12">
		        		   	<div data-ng-class="style(talk)" class="technology">{{talk.Technology}}</div>
	        		   	</div>
	        		</div>
	        		<div class="row">
	        			<div class="col-md-12">
			            	<h4>{{talk.Title}}</h4>
			            </div>
		            </div>
	        		<div class="row">
	        			<div class="col-md-12">
				            <span ng-if="talk.Start">
				            	<span class="label label-default date-label">{{talk.Start | date:['EEEE h:mm a']}}</span>
				            	<br />
				            </span>
				            <button data-ng-click="update(talk)" class="btn btn-default btn-labeled btn-xs" data-ng-class="{ 'btn-success' : setStyle(talk) }">
				            	<span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span></span> Attending
				            </button>
			            </div>
		            </div>
		        </li>
		    </ul>
		</div>
	</div>
</section>