h1 {
  font-size: 42px; 
}

.talk-brick .row {
   margin-bottom:10px;
}

.talk-brick .top-row{
  margin-bottom:0;
}

#landing-page {
  background-color:none !important;
}

#logo {
  font-size:42pt;
  margin:80px 0 20px 0;
  color:#FFF;
}

#one-liner {
  margin-bottom:20px;
  color:rgba(255,255,255,0.8);
}

#sign-in {
  margin-bottom:20px;
}

#screenshot {
  margin:40px 20px;
}

html {
  background: url(../img/conference-room-xl.png) no-repeat center center fixed;
  height: 100%;
}

#translucent-bg {
  background-color:rgba(0,0,0,0.2);
  border-radius:5px;
  height:100%;
}

.talk-div-item {
    width: 300px;
    height: 120px;
    margin: 10px 0px 0px 10px;
    float: left;
    background: white;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.1);
}

.list-date {
  padding-top: 18px;
  font-size:1em;
}

.table > tbody > tr > td {
  padding: 18px 10px;
}

.table h4 {
  margin: 0px;
}

.talk-div-item-title {
    padding: 0px 10px 0px 10px;
    height: 55px;
}

.talk-div-item-title h4 {
    font-size: 14px;
    font-weight: 600;
}

.talk-block-item {
    margin: 5px;
}

.talk-block-title-bar {
    height: 20px;
    margin-bottom: 10px;
}

.label-info {
  background-color: #74A0BD;
}

.label-warning {
  background-color:#E0AA5C;
}

.label-danger {
  background-color:#DB6663;
}

.btn-label {
    position: relative;
    left: -6px;
    display: inline-block;
    padding: 0 4px;
    background: rgba(0,0,0,0.15);
}

.btn-labeled {
    padding:0 6px;
}

.btn-labeled:focus{
    outline:none;
}

.attending-btn{
  margin-left:-4px;
}

.date {
  padding-top:10px;
  font-size:0.88em;
}

.oleo{
    font-family: 'Oleo Script', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
}

.yellowtail{
  font-family: 'Yellowtail', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
}

.navbar {
    -webkit-border-radius: 0;
            border-radius: 0;
    margin-bottom: 0;
}
.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}

.content {
    width:100%
}

.container {
    width:100%;
    background-color: #EEE;
}

.view-controls {
  margin-bottom:15px;
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer p {
    padding:5px 0 12px 10px
}

.talk-title {
/*    padding:15px 15px 0 0;
*/    font-size:16px;
    font-weight:bold;
    color:#000;
}

.talk-title:hover{
  color:orange;
}

td.talk-title {
    width:auto;
}


#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** below styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:black;
}

.search-query:focus + button {
    z-index: 3;   
}

.grid {
    padding:0;
}

.talk-brick {
    margin-bottom: 30px!important;
    overflow: hidden;
    display: block!important;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.1);

}
.talk-brick:hover {
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);    
}

.speaker-name {
  color: #999;
  font-size:1em;
  font-style:italic;
  margin-right:5px;
}

.grid li {
    background-color:#FFF;
    display: inline-block;
    width: 280px;
    padding:20px;
}

.grid li h4{
    font-size:14px;
    font-weight:600;
    margin:16px 10px;
    height:30px;
}

.grid li label{
    font-size:12px;
    font-weight:normal;
}

.view-control {
    font-size:12px;
}

.clickable {
    cursor: pointer;
}

/**** Transitions ****/

/* center container with CSS */
.masonry {
    margin: 0 auto;
}

.masonry,
.masonry li { /* apply before masonry add class */
    position: absolute; /* important to add it before enter animation start */
    
    -webkit-transition-duration: .7s;
    transition-duration: .7s;
    
    -webkit-transition-property: all;
    transition-property: all;    
}

.masonry .masonry-enter { /* limit animated properties for entering elements */
    -webkit-transition-property: -webkit-transform, opacity;
    transition-property: transform, opacity;
}

.masonry-enter,
.masonry-leave.masonry-leave-active {
    opacity: 0;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
}

.masonry-leave,
.masonry-enter.masonry-enter-active {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


@import url(http://weloveiconfonts.com/api/?family=brandico|entypo|openwebicons|zocial);

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* openwebicons */
[class*="openwebicons-"]:before {
  font-family: 'OpenWeb Icons', sans-serif;
}

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

.form-signin{
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.login-input {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.login-input-pass {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.signup-input {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.signup-input-confirm {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}



.create-account {
  text-align: center;
  width: 100%;
  display: block;
}

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn-center{
  width: 50%;
  text-align: center;
  margin: inherit;
}

.social-login-btn {
  margin: 5px;
  width: 20%;
  font-size: 250%;
  padding: 0;
}

.social-login-more {
  width: 45%;
}

.social-google {
  background-color: #da573b;
  border-color: #be5238;
}
.social-google:hover{
  background-color: #be5238;
  border-color: #9b4631;
}

.social-twitter {
  background-color: #1daee3;
  border-color: #3997ba;
}
.social-twitter:hover {
  background-color: #3997ba;
  border-color: #347b95;
}

.social-facebook {
  background-color: #4c699e;
  border-color: #47618d;
}
.social-facebook:hover {
  background-color: #47618d;
  border-color: #3c5173;
}

.social-linkedin {
  background-color: #4875B4;
  border-color: #466b99;
}
.social-linkedin:hover {
  background-color: #466b99;
  border-color: #3b5a7c;
}