extends layouts/public

block content
  .text-center.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3.col-xs-12#translucent-bg
    h1.yellowtail#logo EventHopper
    h3#one-liner Your conference schedule, made better. 
    a.btn.btn-warning#sign-in(href='/signin') Get Started!
    img(src='img/screenshot-cropped-sm.png').hidden-xs.hidden-sm#screenshot
    img(src='img/screenshot-cropped-xs.png').hidden-md.hidden-lg#screenshot
    img(src='img/pillar-logo-blue.png')